{% extends "layout.html" %}

{% block content %}

<h2>Inventory Activity Log</h2>

<table class="table table-bordered mt-4">

<thead>

<tr>
<th>Time</th>
<th>Action</th>
<th>Product</th>
<th>Quantity</th>
<th>From</th>
<th>To</th>
<th>Moved By</th>
</tr>

</thead>

<tbody>

{% for log in logs %}

<tr>

<td>{{ log["Time"] }}</td>
<td>{{ log["Action"] }}</td>
<td>{{ log["Product"] }}</td>
<td>{{ log["Quantity"] }}</td>
<td>{{ log["From"] }}</td>
<td>{{ log["To"] }}</td>
<td>{{ log["Moved By"] }}</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}